body {
  background: rgb(30,30,30);
}

.terminal {
  font-family: "Menlo";
  color: rgb(220,220,220);


  /* OVERRIDES */
  padding: 5px;
  margin: 0;
  /* END OVERRIDES */
}

input {
  color: rgb(220,220,220);
  width: 100%;
  background: none;
  border: 0;
  outline: 0;
}